button{
    background-color: gray;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* transition: 0.3s; */
    &:hover{
        background-color: black;
        color: yellow;
        transform: scale(1.1);
    }
    
}