body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    background-color: gray;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 15px;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    &:hover{
        background-color: black;
        color: yellow;
        transform: scale(1.1);
    }
    &:active{
        transform: scale(0.9);
    }
    
}